/*contains css required for the graphs*/
#graph_div, #state_graph_div {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x .axis path {
    display: none;
}

rect.hbar {
    mask: url(#mask-stripe);
}

rect.hbar-state {
    mask: url(#state-mask-stripe);
}