/* contains css utilised in generation of the map*/

/*css for the map background*/
.background {
    fill:none;
    pointer-events: all;
}
/*css for the different categories*/
.health {
    fill: yellowGreen;
}
.humor {
    fill: tomato;
}
.personal {
    fill: sienna;
}
.philanthropic {
    fill: royalBlue;
}
.education {
    fill: powderBlue;
}
.recreation {
    fill: deepPink;
}
.family {
    fill: orange;
}
.career
{
    fill: darkOliveGreen;
}
.finance {
    fill: orchid;
}
.time{
    fill: rebeccaPurple;
}

#map_div {
    font: 10px sans-serif;
}



